%h1 Best Fares

.alert.alert-info
  %ul
    %li
      Prices based on roundtrip for 2 travelers. Actual prices may be higher if traveling with more people.
    %li
      Prices are show without taxes (currently ~$40).

Display flights departing from: 
=select_tag "origin_filter", options_for_select([["All Cities", "all"], ["Oahu", "from_oahu"], ["Mainland", "from_mainland"]])

#cheap_listing.accordion
  -@low_fares.find_all.each do |low_fare|
    -row_class    = low_fare.origin == City.oahu ? 'from_oahu' : 'from_mainland'

    .accordion-group{class: row_class}
      .accordion-heading
        -row_id = "fare_details_#{low_fare.origin_code}_#{low_fare.destination_code}"

        %span{class: 'accordion-toggle', data: {target: "##{row_id}", toggle: 'collapse'}}
          %i.icon-chevron-right.rotate
          %strong
            ="#{low_fare.origin_name} (#{low_fare.origin_code}) to #{low_fare.destination_name} (#{low_fare.destination_code}) - (#{number_to_currency(low_fare.price)} R/T)"

      .accordion-body.collapse{id: row_id, data: {id: low_fare.id}}
        .accordion-inner
          .center
            =image_tag 'large_ajax_loader.gif'
