%h1 Best Fares

.alert.alert-info
  %ul
    %li
      Prices based on roundtrip for 2 travelers. Actual prices may be higher if traveling with more people.
    %li
      Prices are shown without taxes (currently ~$40).

Display flights departing from: 
=select_tag "origin_filter", options_for_select([["All Cities", "all"], ["Oahu", "from_oahu"], ["Mainland", "from_mainland"]])

#cheap_listing#accordion.panel-group
  -@low_fares.find_all.each do |low_fare|
    -row_class    = low_fare.origin == City.oahu ? 'from_oahu' : 'from_mainland'

    .panel.panel-default{class: row_class}
      .panel-heading
        .panel-title
          -row_id = "fare_details_#{low_fare.origin_code}_#{low_fare.destination_code}"
          %a{data: {toggle: 'collapse'}, href: "##{row_id}"}
            %span.glyphicon.glyphicon-chevron-right.rotate
            %strong
              ="#{low_fare.origin_name} (#{low_fare.origin_code}) to #{low_fare.destination_name} (#{low_fare.destination_code}) - (#{number_to_currency(low_fare.total_price)} R/T)"

      .panel-collapse.collapse{id: row_id, data: {id: low_fare.id}}
        .panel-body
          .center
            =image_tag 'large_ajax_loader.gif'
