%h1 Best Fares

.alert.alert-info
  All fares are without taxes (currently ~$40).

#cheap_listing.accordion
  -@low_fares.each do |low_fare|
    - origin = low_fare.origin
    - destination = low_fare.destination
    .accordion-group
      .accordion-heading
        -row_id = "fare_details_#{origin.code}_#{destination.code}"
        =link_to "#{origin.name} (#{origin.code}) to #{destination.name} (#{destination.code}) - (#{number_to_currency(low_fare.total_price)})", "##{row_id}",
          data: {target: "#fare_details_#{origin.code}_#{destination.code}",
          toggle: 'collapse', parent: '#cheap_listing'},
          class: 'accordion-toggle'
      .accordion-body.collapse{id: row_id}
        .accordion-inner
          %a{name: "#{row_id}"}
          %strong
            Depart
          =number_to_currency(low_fare.low_outbound_price)
          %strong
            Return
          =number_to_currency(low_fare.low_return_price)
          %br
          %strong
            Depart
          =low_fare.departure_dates.map{|date| date.strftime("%-m/%d")}.join(", ")
          %br
          %strong
            Return
          =low_fare.return_dates.map{|date| date.strftime("%-m/%d")}.join(", ")
          %br
          %strong
            Total: 
          =number_to_currency(low_fare.total_price)
          %br
          Last checked: #{low_fare.checked_on.strftime("%-m/%-d/%y @ %l:%M %p")}
