%h1 Best Fares

.alert.alert-info
  %ul
    %li
      Prices based on roundtrip for 2 travelers. Actual prices may be higher if traveling with more people.
    %li
      Prices are show without taxes (currently ~$40).

Display flights departing from: 
=select_tag "origin_filter", options_for_select([["All Cities", "all"], ["Oahu", "from_oahu"], ["Mainland", "from_mainland"]])
#cheap_listing.accordion
  -@low_fares.each do |low_fare|
    -origin       = low_fare.origin
    -destination  = low_fare.destination
    -row_class    = origin == City.oahu ? 'from_oahu' : 'from_mainland'

    .accordion-group{class: row_class}
      .accordion-heading
        -row_id = "fare_details_#{origin.code}_#{destination.code}"

        %i{class: 'icon-chevron-right accordion-toggle', data: {target: "##{row_id}", toggle: 'collapse'}}
          &nbsp;
        ="#{origin.name} (#{origin.code}) to #{destination.name} (#{destination.code}) - (#{number_to_currency(low_fare.total_price)} R/T)"

      .accordion-body.collapse{id: row_id}
        .accordion-inner
          %strong
            Depart $:
          =number_to_currency(low_fare.low_outbound_price)
          %strong
            Return $:
          =number_to_currency(low_fare.low_return_price)
          %br
          %strong
            Depart Dates:
          =low_fare.departure_dates.map{|date| date.strftime("%-m/%d")}.join(", ")
          %br
          %strong
            Return Dates:
          =low_fare.return_dates.map{|date| date.strftime("%-m/%d")}.join(", ")
          %br
          %strong
            Total: 
          =number_to_currency(low_fare.total_price)
          %br
          Last checked: #{low_fare.checked_on.strftime("%-m/%-d/%y @ %l:%M %p")}
